body {
    background: #eee;
    color: #888; /* color is gray */
    border: 0.01333rem solid;
    height: 0.26667rem; /* rpx */
    padding: 0.2rem; /*rpx*/
    -webkit-animation: anim1 linear infinite;
}

.foo {
    border: 0.01333rem solid;
    height: 20px;
    padding: 1rem;
    font-size: 1.2em;
}
